<p id="notice"><%= notice %></p>

<p>
  <strong>Commentable:</strong>
  <%= @comment.commentable %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @comment.memo %>
</p>

<%= link_to "Back", @commentable %>
