<p id="notice"><%= notice %></p>

<p>
  <strong>Commentable:</strong>
  <%= @comment.commentable %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @comment.memo %>
</p>

<%=
  # old
  # link_to 'Edit', edit_comment_path(@comment)

  # 動かなかったやつ
  # 編集モードにいきたい
  # link_to "Edit", [@commentable, @comment]
%>
<%=
  # " |" 
%>
<%=
  link_to "Back", @commentable
%>
