<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<h3>Comments</h3>
<% if @book.comments.any? %>
  <ul>
  <% @book.comments.each do |comment| %>
    <li>
      <%= comment.name %>: 
      <%= comment.memo %>
      <%=
        link_to "Destroy", [@book, comment], method: :delete, data: { confirm: 'Are you sure?' }
        # methodが違う
      %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_for([@book, @book.comments.build]) do |f| %>
  <p>name: 
    <%= f.text_field :name %>
  </p>
  <p>comment: 
    <%= f.text_field :memo %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
