<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @report.emotion %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @report.author %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @report.datetime %>
</p>

<% commentable = @report %>
<h3>Comments</h3>
<% if commentable.comments.any? %>
  <ul>
  <% commentable.comments.each do |comment| %>
    <li>
      <%= comment.name %>: 
      <%= comment.memo %>
      <%= link_to 'Edit', edit_report_comment_path(commentable, comment) %>
      <%= link_to "Destroy", [commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_for([commentable, commentable.comments.build]) do |f| %>
  <p>name: 
    <%= f.text_field :name %>
  </p>
  <p>comment: 
    <%= f.text_field :memo %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
